@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

/*nav  */

*{
	box-sizing:border-box;
	margin:0;
	padding: 0;
}

body{
	background: #dbe6d5;
	padding: 10px;
	top:0px !important;
}
.body{
	width:100%;
	height:100%;
	background: white;
	border-radius: 30px;
	 
}
.nav{
	width:100%;
	height:14rem;
	
	border-radius: 5px;
}
.nav1{
	border-radius:10px; 
}
#translated{
	visibility: hidden;
}

/*-------------------------------------------------------------------------------------*/
/*body layout*/
.body_content{

	padding: 0 10% 0 10%;
}
.main{
	width:100%;
		 
}
/*----------------------------------------------------------------------------------------*/
/*drop_down*/

:root {
  --background: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --background-select: linear-gradient(to left, #4052b6 3rem, white 3rem);
}


/* Reset <select> defaults */
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  background: none;
  color: inherit;
  box-shadow: none;
}

select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: min(20rem, 90vw);
  height:40px;
  background: var(--background-select);
  border-radius: 0.25rem;
  overflow: hidden;
  align-items: center;
  font-size:18px;
  border:1px solid #4052b6;
  box-shadow: 2px 2px 3px lightgray;
}
.select select {
  flex: 1;
  padding: 1em;
  cursor: pointer;
}
.select::after {
  content: "▼";
  position: absolute;
  right: 1rem;
  top: 1rem;
  color:white;
  transition: 0.25s all ease;
  pointer-events: none;
}
.select:hover::after {
  color: #f39c12;
  -webkit-animation: bounce 0.5s infinite;
          animation: bounce 0.5s infinite;
}

@-webkit-keyframes bounce {
  25% {
    transform: translatey(5px);
  }
  75% {
    transform: translatey(-5px);
  }
}



.drop_down{
	display: flex;
	justify-content: center;
	align-items: center;
	
	gap:50px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.goog-te-gadget-simple{
	 position: relative;
  display: flex;
  width: 300px;
  background:transparent !important;
  border-radius: 0.25rem;
  overflow: hidden;
  border: none !important;
}
 .goog-te-gadget img {
    vertical-align: middle;
    border: none;
    display: none;
    }  
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span:nth-child(5){
	display: none;
}    
.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span:nth-child(3){
	display: none;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd{
	display: none !important;
}


.VIpgJd-ZVi9od-xl07Ob-OEVmcd{
	color: #5a5a71 !important; 
     background: #cb4a4a !important;
}

/*----------------------------------------------------------------------------------------*/
/*box*/
.card{
	display:flex;
	justify-content:center;
	align-items: center;
}
.card h1{
	font-size:26px ;
	text-align: center;
	text-shadow: 1px 1px black;
}

/*.box0{
	background: url("./box/news.jpg") no-repeat;
	background-position:center;
	background-size:cover; 
	
}
.box1{
	background: url("./box/Vegetable 1.jpg") no-repeat;
	background-position:center;
	background-size:cover; 	
}
.box2{
	background: url("./box/Commodity 2.jpg") no-repeat;
	background-position:center;
	background-size:cover; 	
}
.box3{
	background: url("./box/weather.jpg") no-repeat;
	background-position:center;
	background-size:cover; 	
}
.box4{
	background: url("./box/machineries.jpg") no-repeat;
	background-position:center;
	background-size:cover; 	
}
.box5{
	background: url("./box/pump_dealer.jpg") no-repeat;
	background-position:center;
	background-size:cover; 	
}
.box6{
	background: url("./box/pesticide_dealer.jpg") no-repeat;
	background-position:center;
	background-size:cover; 	
}
.box7{
	background: url("./box/fertilizer_dealer.jpg") no-repeat;
	background-position:center;
	background-size:cover; 	
}
.box8{
	background: url("./box/seed_dealer.jpg") no-repeat;
	background-position:center;
	background-size:cover; 	
}
.box9{
	background: url("./box/scheme.jpg") no-repeat;
	background-position:center;
	background-size:cover; 	
}
.box10{
	background: url("./box/warehouse.jpg") no-repeat;
	background-position:center;
	background-size:cover; 	
}*/

/*--------------------------------------------------------------------------------------------*/
/*popup*/
.h1{
	background: black;
}
.popup {
	width: 100%;
    height: 100%;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index:100;
   

    background: transparent;
 
    display: none;
}
.popup1{
	width:100%;
	height:100%;
	display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.08);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7.6px);
	-webkit-backdrop-filter: blur(7.6px);
}

.popup2{
	width: 50%;
	height: 70%;
	box-shadow: 0 0 30px -9px #000;
  overflow-y: auto;
  overflow-x: hidden;
	padding: 20px 20px 20px; 
    background: linear-gradient(45deg,#6895D2,#211C6A);
    border: 2px solid #5d5a5a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.popup-container{
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px; 
    background-color:#F5F7F8;
    border: 1px solid rgb(0, 128, 192);
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(0, 128, 192);    
    position: relative;
    overflow-y:scroll;
    overflow-x:scroll; 
     &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
  }
  &::-webkit-scrollbar-track {
  
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3);
    margin-block:1rem;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #96A6BF, #63738C);
    box-shadow: inset 0 0 1px 1px #5C6670;
    
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(left, #8391A6, #536175);
  }
     
}

.cancel-button {
        position: fixed;
        top: 18%;
        right: 27%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        background-color: #ff4444;
        color: #ffffff;
        text-decoration: none;
        border-radius: 10%;
    }

.cancel-button:hover {
        background: linear-gradient(45deg, #0cca4a,#004346);
    }
    
.content h1{
	text-align: center;
	font-size:30px;
	margin-bottom: 20px;
}    

/*==============================================================*/
/*slider*/
.slide_img{
	width: 100%;
}

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 10px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 5px;
  padding:10px 0 30px 0; 

}
.card{
  width: 240px;
  height: 250px;
  border-radius: 10%;
  background-color: #FFF;
  box-shadow: 2px 3px 7px graytext; 
}


.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #2e3085;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #2e3085;
}


/*=================================================================*/


#font{
  font-size: 20px;
  color: black;
}
.area{
  color: maroon;
}

#apmcplace{
  width: 300px;
  height: 40px;
  font-size:20px ;
  border-radius: 25px;
  text-align: center;
  font-family:'Comic Sans MS', cursive ;
  background-color: darkslategray;
  color: white;
}



.drop_m{
	display: grid;
	justify-content: space-between;
	
}
.content{
	width:100%;
	height: 100%; 
	font-size: 17px;
	
	
}
.content select{
	background: white;
	border:1px double black;
	width: 100px; 
}
.content table{
	margin-left: auto;
	margin-right: auto;
	padding:2%;
	
	
}
.content td,.content th{
	padding: 2%;
}


/*==========================================================*/
#prod_list{
	margin-bottom: 5px;
}
.rol{
	display:flex;
	justify-content: center; 
}
.mic {
  z-index: 1000;
}


.icon__mic
 {
	
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  	background: #C2B9B0;
  color: #333; /* Change this color as needed */
  transition: all 0.3s ease;
}


.icon__mic:active {
z-index: 3;
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(1, 1, 1, 1);
}


.icon__mic:hover{
  color: #007bff; /* Change this color as needed */
}

.pr,.ne {
  position: fixed;
  top: 50%;
  
  transform: translateY(-50%);
  padding: 10px 20px;
  background:transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 20px; 
  display: none;
}
.pr {
  left: 25%;
}

.ne {
  right: 25%;
}
table{
	max-width: 100% !important;
}
table, td, th {
  margin-left:auto;
  margin-right:auto;
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
}
th{
  background-color: #C9C0BB;
}
tr:nth-child(odd){
  background-color: #98AFC7;
}
.con-img img{
	width:100%;
	height: 250px;
	min-height:100px;
	min-width: 200px ;
	margin-top: 10px;
}



/*=======================================================================*/

@media screen and (min-width:500px)  and (max-width:900px) {
.popup2 {
  width: 80%;
  height: 70%;
}
.cancel-button {
  position: fixed;
  top: 18%;
  right: 15%;
}
.pr {
  left: 7%;
}

.ne {
  right: 7%;
}
}

@media screen and (max-width:500px) {
.popup2 {
  width: 90%;
  height: 60%;
}
.cancel-button {
  position: fixed;
  top: 24%;
  right: 12%;
}
.content h1{
	text-align: center;
	font-size:20px;
	margin-bottom: 20px;
}
.card{
  width: 250px;
  height: 270px;
}
.body_content{
	padding: 0 0% 0 0%;
}
#font{
  font-size: 16px;
  color: black;
}
.area{
  color: maroon;
}
.drop_down{
	display: flex;
  flex-wrap: wrap;
  gap:10px;
  
	
	
}

.select select {
  flex: 1;
  padding: 1em;
  cursor: pointer;
}
.select::after {
  content: "▼";
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: 0.25s all ease;
  pointer-events: none;
}

.nav{
	width:100%;
	height:10rem;
	border-radius: 15px 15px 5px 5px;
	background-size: cover;
}

.content{
	width:100%;
	height: 100%; 
	font-size: 12px;
}
.pr {
  left: 4%;
}

.ne {
  right: 4%;
}
	
}


/*====================================================================================*/


.slider12{width: 100%}
.slider12 input{display: none;}
.testimonials{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 80px;
	perspective: 1000px;
	overflow: hidden;
}
.testimonials .item{
	width:100px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	border:3px solid white;
	top: 0;
	text-align: center;
	transition: transform 0.4s;
	
	user-select: none;
	cursor: pointer;
}
.testimonials .item h1{font-size: 114px; color: white;}
.dots{display: flex; justify-content: center;align-items: center;}
.dots label{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #413B52;
	margin: 7px;
	transition-duration: 0.2s;
}


#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-6"],
#t-5:checked ~ .testimonials label[for="t-7"],
#t-6:checked ~ .testimonials label[for="t-8"],
#t-7:checked ~ .testimonials label[for="t-9"],
#t-8:checked ~ .testimonials label[for="t-1"],
#t-9:checked ~ .testimonials label[for="t-2"]{
	transform: translate3d(220px, 0, -180px) rotateY(-25deg);
	z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-6"],
#t-6:checked ~ .testimonials label[for="t-7"],
#t-7:checked ~ .testimonials label[for="t-8"],
#t-8:checked ~ .testimonials label[for="t-9"],
#t-9:checked ~ .testimonials label[for="t-1"]{
	transform: translate3d(120px, 0, -90px) rotateY(-15deg);
	z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-6:checked ~ .testimonials label[for="t-5"],
#t-7:checked ~ .testimonials label[for="t-6"],
#t-8:checked ~ .testimonials label[for="t-7"],
#t-9:checked ~ .testimonials label[for="t-8"],
#t-1:checked ~ .testimonials label[for="t-9"]{
	transform: translate3d(-120px, 0, -90px) rotateY(15deg);
	z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-6:checked ~ .testimonials label[for="t-4"],
#t-7:checked ~ .testimonials label[for="t-5"],
#t-8:checked ~ .testimonials label[for="t-6"],
#t-9:checked ~ .testimonials label[for="t-7"],
#t-1:checked ~ .testimonials label[for="t-8"],
#t-2:checked ~ .testimonials label[for="t-9"]{

	transform: translate3d(-220px, 0, -180px) rotateY(25deg);
	
}

#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"],
#t-6:checked ~ .testimonials label[for="t-6"],
#t-7:checked ~ .testimonials label[for="t-7"],
#t-8:checked ~ .testimonials label[for="t-8"],
#t-9:checked ~ .testimonials label[for="t-8"],
#t-9:checked ~ .testimonials label[for="t-9"]{
	
	z-index: 4;
}
.icon_img img {
    width: 60px;
    height: 60px;
}
.icon_img p {
    font-size: 10px;
    text-align: center;
}

.ptbox{
            width:  350px;
            height:  420px;
            display: grid;
            place-items: center;

        }
        .ptbox h3 {
            text-align: center;
        }
        .ptbox div{
            display: flex;
            gap: 40px;
        }
        .ptbox img{
            width:100%;
        }
